body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: steelblue;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
canvas {
  background-color: white;
  border-radius: 1rem;
}
form {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
  font-size: 1.5rem;
}
#numbers {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#first,
#second {
  width: 3rem;
  height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid navy;
  border-radius: 0.25rem;
  outline: none;
}
input[type='button'] {
  cursor: pointer;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
  font-size: 1rem;
  transition: background 0.2s, font 0.2s;
}
input[type='button']:hover {
  background-color: navy;
  color: white;
}